* { margin:0; padding:0; border:0;}
/* Correct behavior for the HTML5 tags used */
figure, header, nav, section, figcaption, footer { display: block; }
/* Gallery images with CSS animated captions */

#footer { 
        position: absolute; 
        /*border-top: 1px solid #ccc; */
        /*border-bottom: 1px solid #ccc;*/ 
        bottom: -200px;
        width: 100%; 
        color: #f6cef5; 
        font-family: Arial, Helvetica, sans-serif; 
	text-align: center;
	text-size: smaller;
}

#logo {
	float: left;
	margin: 10px 35px 15px 10px
}
/* Basic Styling - example still works without this part of the css */
body {
	/* background: #79bbdd; */
	font-family: Arial, Helvetica, sans-serif;
	border: 50px #fff solid;
}

header {
	width: 100%;
	background: #fff;
}

header h1 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 20px 20px 0px 20px;
}
header h1 a {
	text-decoration: none;
}
header p {
	color: #aaa;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 2px 20px 20px 20px;
	line-height: 20px;
}
header a {
	color: #fff;
}
header a:hover {
	color: #ddd;
}

nav {
	border-top: 0px solid #fff;
	border-bottom: 0px solid #ccc;
	/**background: #eee;  Original **/
	/**background:#f5a9a9; **/
	/**background: #f2f5a9; **/
	width: 100%;
}

nav ul {
	padding: 11px 20px;
}
nav li {
	display: inline;
	margin-right: 7px;
}
nav li a {
	font-size: 13px;
	color: #555;
	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	-khtml-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border:1px solid #ccc;
	background: #f6cef5;
	padding: 4px 28px;
}

#footer nav li a {
	background: #79bbdd;
}

nav li a:hover {
	color: #000;
	border:1px solid #aaa;
}
nav li a:active {
	background:#ccc;
	border:1px solid #888;
}

form { width: 400px; background-color: #fcfcfc;background-color: rgba(0,0,0,0.5);  padding: 15px 25px; margin: 0 auto; color: #fff;-moz-border-radius:  20px; -webkit-border-radius:  20px; border-radius: 20px; overflow: hidden; }
label { clear:  both; display: block; text-shadow: 0px -1px 0px #000; text-shadow: 0 -1px rgba(0,0,0,0.5);  font-family: "kaffeesatz-1","kaffeesatz-2",sans-serif; }
input { margin-bottom: 25px; }
sup { color: #f00; }
input { font-size:18px; border: 2px solid #999; padding: 6px 8px; background-color: #fff; -webkit-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.2); -moz-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.2); box-shadow: inset 0px 2px 2px rgba(0,0,0,0.2); color: #696969; width: 375px;  }
input:focus { border: 2px solid #6c6; -webkit-box-shadow:none; -moz-box-shadow: none; box-shadow: none; }
input[type=date],
input[type=number],
input[type=submit] { -moz-border-radius:  0px; -webkit-border-radius:  0px; border-radius:  0px; width: auto; }
input[type=submit] { margin-top:10px;}
input:invalid {  border: 2px red solid; }
input.awesome{ background: #fc9200 url() repeat-x; display: inline-block; padding: 5px 10px 6px; color: #fff; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; float:right; font-size: 28px; font-family: "kaffeesatz-1","kaffeesatz-2",sans-serif; }
input.awesome:hover	{ background-color: #ffb515; }
.small { font-size:10px; margin: 15px 0; color: #fff; text-shadow: 0px -1px 0px #000; text-shadow: 0 -1px rgba(0,0,0,0.5); }
