include README.txt
include LICENSE.txt
include android.txt
include TODO.txt
include BUGS.txt
include CHANGES.txt
include Grizzly/__main__.py
include Grizzly/__init__.py
include Grizzly/data.py
include Grizzly/game/fish.py
include Grizzly/game/physicalobject.py
include Grizzly/game/player.py
include Grizzly/game/catfood.py
include Grizzly/game/util.py
include Grizzly/game/rat.py
include Grizzly/game/milk.py
include Grizzly/game/mice.py
include Grizzly/game/goldfish.py
include Grizzly/game/tinfood.py
include Grizzly/game/load.py
include Grizzly/game/__init__.py
include Grizzly/game/woolenball.py
include Grizzly/game/resources.py
include Grizzly/game/drycatfood.py
include pyweek_upload.py
include setup.py
include run_game.py
