<form action="sendit" method="post">
<div class="row requiredRow">
	<label for="From">From:</label>
	<input id="From" name="From" type="text" class="required" title="From:. I need this." />
</div>
<div class="row requiredRow">
	<label for="Email">Email:</label>
	<input id="Email" name="Email" type="email" class="required" title="From:. I need this." />
</div>
<div class="row requiredRow">
	<label for="To">To:</label>
	<input id="To" name="To" type="text" class="required" title="To:. I need this." />
</div>
<div class="row requiredRow">
	<label for="Email">Email:</label>
	<input id="Email" name="Email" type="email" class="required" title="To:. I need this." />
</div>
<div class="row">
<input type="submit" value="Send it now!" />
</div>
</form>
