<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<title>Shal Greetings</title> 

<!-- This section is for picnik -->
<script> 
function picnik(id){
document.edit.imgid.value=id;
document.edit._import.value='http://shalgreetings.appspot.com/cards/'+id;
document.edit.submit();
}

function choose(set) {
	return set[Math.floor(Math.random() * set.length)];
}
var set = ['#love','#birthday','#flowers','#nature','#congrats','#thankyou']
rand = choose(set);
window.location.hash = rand;

var lockit=setInterval("window.scrollTo(0,0)",10)

function OnScrollDiv (div) {
    var info = document.getElementById ("info");
    info.innerHTML = "Horizontal: " + div.scrollLeft
		    + "px<br/>Vertical: " + div.scrollTop + "px";
}


</script>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--> 
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21983270-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head> 
<body onLoad="clearInterval(lockit)"> 
<!-- For Picnik -->

	<form method='POST' action='http://www.picnik.com/service' name="edit"> 
	<input type='hidden' name='_apikey' value='08cbd51d6ac62767ad563808b6e76845'/> 
	<input type='hidden' name='_export' value='http://shalgreetings.appspot.com/export'/> 
	<input type='hidden' name='_export_title' value='Message Written. Send this!'/> 
	<input type='hidden' name='_close_target' value='http://shalgreetings.appspot.com/'/> 
	<input type='hidden' name='_import' value='http://shalgreetings.appspot.com/cards/4'/> 
	<input type='hidden' name='_host_name' value='ShalGreetings'/> 
	<input type='hidden' name='_exclude' value='in,edit,out'/> 
	<input type='hidden' name='_export_field' value='imgdata'/> 
	<input type='hidden' name='imgid' value=''/> 
	<input type='hidden' name='_export_method' value='POST'/> 
	<input type='hidden' name='_page' value='/create/text'/> 
	</form><hr/> 

	<section id="logo">
	<a href="http://www.shalgreetings.com"><img src="/static/logo/shalgreetings.png"></a>
	</section>

	<header>
	<p>Beautiful picture cards for your loved ones.</p>
	</header> 

        <div id="info"></div>
	<section id="imagegallery"> 
			<nav> 
				<ul> 
					<li><a href="#love">Love</a></li>
					<li><a href="#birthday">Birthday</a></li>
					<li><a href="#flowers">Flowers</a></li>
					<li><a href="#nature">Nature</a></li>
					<li><a href="#congrats">Congrats</a></li>
					<li><a href="#thankyou">Thank you</a></li>
				</ul> 
			</nav>

		<section id="love" onscroll="OnScrollDiv (this)"> 
			<h2>Love</h2> 
			<p>Cards for your Loved ones</p> 
			<figure> 
				<a ref="#" onclick="picnik(1)"><img src="/static/tokens/love1fp.jpg"/> </a>
				<figcaption> 
					<h3>Ring</h3> 
					<p>by yüzük. Ring that is a symbol of what may come.</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(2)"><img src="/static/tokens/love2fp.jpg"/> </a>
				<figcaption> 
					<h3>Love Hearts</h3> 
					<p>By Duncan.</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(3)"><img src="/static/tokens/love3fp.jpg"/> </a>
				<figcaption> 
					<h3>Love is in the Air</h3> 
					<p>by erika.tricroche</p>			
				</figcaption> 
			</figure> 
			<br/>
			<figure> 
				<a ref="#" onclick="picnik(4)"><img src="/static/tokens/love4fp.jpg"/> </a>
				<figcaption> 
					<h3>Toy Love</h3> 
					<p>by Capt Kodak.</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(5)"><img src="/static/tokens/love5fp.jpg"/> </a>
				<figcaption> 
					<h3>Heart</h3> 
					<p>by seyed mostafa zamani</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(6)"><img src="/static/tokens/love6fp.jpg"/> </a>
				<figcaption> 
					<h3>Endless Love</h3> 
					<p>Millzero Photography</p>			
				</figcaption> 
			</figure> 

		</section> 
		<section id="birthday"> 
			<h2>Celebrate your Birthday in Style.</h2> 
			<p>Pen your Birthday thoughts!</p> 
			<figure> 
				<a ref="#" onclick="picnik(11)"><img src="/static/tokens/hb1fp.jpg"/> </a>
				<figcaption> 
					<h3>Birthday Cake</h3> 
					<p>by Will Clayton</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(12)"><img src="/static/tokens/hb2fp.jpg"/> </a>
				<figcaption> 
					<h3>Love is a company.</h3> 
					<p>by Herr Saush</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(13)"><img src="/static/tokens/hb3fp.jpg"/> </a>
				<figcaption> 
					<h3>Birthday Cake</h3> 
					<p>By M Shades</p>			
				</figcaption> 
			</figure> 
			<br/>
			<figure> 
				<a ref="#" onclick="picnik(14)"><img src="/static/tokens/hb4fp.jpg"/> </a>
				<figcaption> 
					<h3>Birthday Cake</h3> 
					<p>by AngelSk</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(15)"><img src="/static/tokens/hb5fp.jpg"/> </a>
				<figcaption> 
					<h3>Birthday Cake with Presents</h3> 
					<p>By peg5450</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(16)"><img src="/static/tokens/hb6fp.jpg"/> </a>
				<figcaption> 
					<h3>Birthday</h3> 
					<p>By Taja N.</p>			
				</figcaption> 
			</figure> 

		</section> 
		<section id="flowers"> 
			<h2>Beautiful Flowers</h2> 
			<p>Beautiful flowers for your loved ones.</p> 
			<figure> 
				<a ref="#" onclick="picnik(21)"><img src="/static/tokens/flowers1fp.jpg"/> </a>
				<figcaption> 
					<h3>White Rose</h3> 
					<p>By Shalini</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(22)"><img src="/static/tokens/flowers2fp.jpg"/> </a>
				<figcaption> 
					<h3>Flowers in a garden</h3> 
					<p>By Shalini</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(23)"><img src="/static/tokens/flowers3fp.jpg"/> </a>
				<figcaption> 
					<h3>Backdrop</h3> 
					<p>By Shalini.</p>			
				</figcaption> 
			</figure> 
			<br/>
			<figure> 
				<a ref="#" onclick="picnik(24)"><img src="/static/tokens/flowers4fp.jpg"/> </a>
				<figcaption> 
					<h3>Yellow Rose</h3> 
					<p>By Shalini.</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(25)"><img src="/static/tokens/flowers5fp.jpg"/> </a>
				<figcaption> 
					<h3>Golden Orange</h3> 
					<p>by Shalini.</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(26)"><img src="/static/tokens/flowers6fp.jpg"/> </a>
				<figcaption> 
					<h3>Climbing high</h3> 
					<p>By Shalini.</p>			
				</figcaption> 
			</figure> 
		</section> 
		<section id="nature"> 
			<h2>Nature</h2> 
			<p>There is only one master - Nature.</p> 
			<figure> 
				<a ref="#" onclick="picnik(31)"><img src="/static/tokens/nature1fp.jpg"/> </a>
				<figcaption> 
					<h3>I will eat the Conkers</h3> 
					<p>By law Keven</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(32)"><img src="/static/tokens/nature2fp.jpg"/> </a>
				<figcaption> 
					<h3>Long Billed Curlew</h3> 
					<p>by Milke Baird</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(33)"><img src="/static/tokens/nature3fp.jpg"/> </a>
				<figcaption> 
					<h3>Toucan Bird</h3> 
					<p>by doug8888</p>			
				</figcaption> 
			</figure> 
			<br/>
			<figure> 
				<a ref="#" onclick="picnik(34)"><img src="/static/tokens/nature4fp.jpg"/> </a>
				<figcaption> 
					<h3>Pacific Morning</h3> 
					<p>By Paul</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(35)"><img src="/static/tokens/nature5fp.jpg"/> </a>
				<figcaption> 
					<h3>Saguoras</h3> 
					<p>by Saguoro Pictures</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(36)"><img src="/static/tokens/nature6fp.jpg"/> </a>
				<figcaption> 
					<h3>Pretender</h3> 
					<p>By Sarniebill1</p>			
				</figcaption> 
			</figure> 
		</section> 
		<section id="congrats"> 
			<h2>Congratulations</h2> 
			<p>Send a Congratulations Note.</p> 
			<figure> 
				<a ref="#" onclick="picnik(41)"><img src="/static/tokens/congrats1fp.jpg"/> </a>
				<figcaption> 
					<h3>Jump and unfold</h3> 
					<p>by Santuary Photography</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(42)"><img src="/static/tokens/congrats2fp.jpg"/> </a>
				<figcaption> 
					<h3>Fusillade of fun</h3> 
					<p>by jurvetson</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(43)"><img src="/static/tokens/congrats3fp.jpg"/> </a>
				<figcaption> 
					<h3>Symphony</h3> 
					<p>By Paul</p>			
				</figcaption> 
			</figure> 
			<br/>
			<figure> 
				<a ref="#" onclick="picnik(44)"><img src="/static/tokens/congrats4fp.jpg"/> </a>
				<figcaption> 
					<h3>Free Scary Ferris Wheel</h3> 
					<p>by Pink Sherbet Photography</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(45)"><img src="/static/tokens/congrats5fp.jpg"/> </a>
				<figcaption> 
					<h3>Free Tasty Technicolor</h3> 
					<p>by Pink Sherbet Photography</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(46)"><img src="/static/tokens/congrats6fp.jpg"/> </a>
				<figcaption> 
					<h3>Espera</h3> 
					<p>Eduardo Amorim</p>			
				</figcaption> 
			</figure> 
		</section> 
		<section id="thankyou"> 
			<h2>Thank you</h2> 
			<p>Thank your friends who have done good.</p> 
			<figure> 
				<a ref="#" onclick="picnik(51)"><img src="/static/tokens/thankyou1fp.jpg"/> </a>
				<figcaption> 
					<h3>Thank you</h3> 
					<p>By Daniel Slaughter</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(52)"><img src="/static/tokens/thankyou2fp.jpg"/> </a>
				<figcaption> 
					<h3>White Chocolate Feast</h3> 
					<p>by stevendepolo</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(53)"><img src="/static/tokens/thankyou3fp.jpg"/> </a>
				<figcaption> 
					<h3>Thanks</h3> 
					<p>by Harold Lloyd</p>			
				</figcaption> 
			</figure> 
			<br/>
			<figure> 
				<a ref="#" onclick="picnik(54)"><img src="/static/tokens/thankyou4fp.jpg"/> </a>
				<figcaption> 
					<h3>Thank you card</h3> 
					<p>By Jon Ashcroft</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(55)"><img src="/static/tokens/thankyou5fp.jpg"/> </a>
				<figcaption> 
					<h3>Bokeh</h3> 
					<p>by Jsome1</p>			
				</figcaption> 
			</figure> 
			<figure> 
				<a ref="#" onclick="picnik(56)"><img src="/static/tokens/thankyou6fp.jpg"/> </a>
				<figcaption> 
					<h3>Candle Light</h3> 
					<p>By Alisa Dam</p>			
				</figcaption> 
			</figure> 
		</section> 
	</section> 
	<section id="footer">
		&nbsp; &copy; ShalGreetings.com &nbsp; &nbsp; Stylesheet by Carlos Martinez. &nbsp; &nbsp;
	</section>
</body> 
</html>
