{% extends "base.html" %}

{% block extra_head %}

<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>

<link rel="stylesheet" type="text/css" href="https://github.com/perifer/timePicker/blob/master/timePicker.css"/>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

<script type="text/javascript" src="https://github.com/perifer/timePicker/blob/master/jquery.timePicker.min.js"></script>

<script type="text/javascript">
   jQuery(function() {
       jQuery("#id_date").datepicker({ dateFormat: 'dd mm yyyy' });
       jQuery("#id_time").timepicker();
   });
</script>

{{ form.media }}

{% endblock %}


{% block content %}

<h1> Hello {{user.username}}</h1>

<form action="/create/" method="post"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"/>
</form>

<br/>
<a href="/">Home</a>
<br/>
<a href="/logout">Logout</a>

{% endblock %}
