{% extends "base.html" %}

{% block extra_head %}

<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/admin/js/core.js"></script>
<script type="text/javascript" src="/media/admin/js/admin/RelatedObjectLookups.js"></script>

{{ form.media }}

{% endblock %}


{% block content %}

<h1> Hello {{user.username}}</h1>
<h2> You belong to {{group}} </h2>

<br>

<h2>Options</h2>

<ul>

    <li><a href="/create">Create a New Meeting</a>
    <li><a href="/view">View Meetings</a>

</ul>

<br>
<a href="/logout">Logout</a>

{% endblock %}
