<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title> {{ title|escape }} </title>
<script> 
function picnik(id){
document.edit.imgid.value=id;
document.edit._import.value='http://shalgreetings.appspot.com/cards/'+id;
document.edit.submit();
}
</script> 
</head>

<body>

<h1> {{ title|escape }} </h1>

{% block content %}
{% endblock %}

<hr />

<center>
<p id="footer">
  <a href="/">http://www.shalgreetings.com</a> |
  &copy;2010 Senthil Kumaran. | 
</p>
</center>
</body>
</html>
