{% extends "base.html" %}

{% block content %}

<center>

<form method='POST' action='http://www.picnik.com/service' name="edit"> 
<input type='hidden' name='_apikey' value='08cbd51d6ac62767ad563808b6e76845'/> 
<input type='hidden' name='_export' value='http://picnikspot.appspot.com/export'/> 
<input type='hidden' name='_export_title' value='Welcome to Shalgreetings!'/> 
<input type='hidden' name='_close_target' value='http://shalgreetings.appspot.com/'/> 
<input type='hidden' name='_import' value='http://shalgreetings.appspot.com/cards/4'/> 
<input type='hidden' name='_redirect' value='http://shalgreetings.appspot.com'/> 
<input type='hidden' name='_host_name' value='ShalGreetings'/> 
<input type='hidden' name='_exclude' value='out'/> 
<input type='hidden' name='_export_field' value='imgdata'/> 
<input type='hidden' name='imgid' value=''/> 
<input type='hidden' name='_export_method' value='POST'/> 
</form><hr/> 

{% for image in imagelist %}
<a ref="#" onclick="picnik(42)"><img src="{{image|escape}}" width="800" height="600" style="margin:10px;" /></a>
</br>
</br>
{% endfor %}
</center>

{% endblock %}
