<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<title>Shal Greetings</title> 

<!-- This section is for picnik -->
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--> 
<link rel="stylesheet" type="text/css" href="/static/css/selected.css" />
</head> 
<body> 
	<section id="logo">
	<a href="http://www.shalgreetings.com"><img src="/static/logo/shalgreetings.png"></a>
	</section>
	<header> 
		<br/>
		<p><i>Beautiful picture cards for your loved ones.</i></p>
		<br/>
	</header> 
	<br/>
	<br/>
	<br/>
	<br/>
	<center>
	<form action="/mail" method="post">
		<p>
		Your Name <input type="text" name="you" class="required" placeholder="Your name"/> &nbsp;&nbsp;
		Your Email <input id="Email" name="youremail" class="required" placeholder="Your Email"/>
		</p>
		<br/>
		<p>
		Your Friend's Name <input type="text" name="friend" class="required" placeholder="Friend's name"/>&nbsp;&nbsp;
		Your Friend's Email <input id="Email" name="friendemail" class="required" placeholder="Friend's Email"/>
		</p>
		<br/>

   	        <p><img src="/ecard" height=50% width=50% height=50%></p>
		<br/>
		<p><input type="submit" value="Send Your Card Now!"/></p>
	</form>
	<section id="footer">
		&nbsp; &copy; ShalGreetings.com &nbsp; &nbsp; Design based upon: Gotta Love HTML5 and CSS3.
	</section>
        </center>
</body> 
</html>
