<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<title>Shal Greetings</title> 

<!-- This section is for picnik -->
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--> 
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head> 
<body> 
	<section id="logo">
		<img src="/static/logo/shalgreetings.png">
	</section>
	<header> 
		<br/>
		<p><i>Beautiful picture cards for your loved ones.</i></p>
		<br/>
	</header> 
	<section id="mainbody">
		<center>
		<form action="/mail" method="post">
			Name: <input type="text" name="friend" value="Friend's name" /></p>
			Email id: <input type="text" name="friendemail" value="Friend's Email Id" /></p>
			<p><img src="/ecard" height=50% width=50%></p>
			<p><input type="submit" /></p>
		</form>
	</center>
	</section>
	<section id="footer">
	<center><p>Content and Website Copyright by Shalini. Website Design by Carlos Martínez.</p></Center>
	</section>
</body> 
</html>
