<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<title>Shal Greetings</title> 

<!-- This section is for picnik -->
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--> 
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head> 
<body> 
	<section id="logo">
		<img src="/static/logo/shalgreetings.png">
	</section>
	<header> 
		<br/>
		<p><i>Beautiful picture cards for your loved ones.</i></p>
		<br/>
	</header> 
	<form action="/mail" method="post">
		<p>
		Your Name <input type="text" name="you" class="required" title="Your Name is Required"/> 
		Your Email <input id="Email" name="youremail" class="required" title="Your Email is Required"/>
		</p>
		<p>
		Your Friend's Name <input type="text" name="friend" class="required" title="Your friend's name"/>
		Your Friend's Email <input id="Email" name="friendemail" class="required" title="Your Friend's emai"/>
		</p>
   	        <p><img src="/ecard"></p>
		<p><input type="submit" /></p>
	</form>
	<section id="footer">
		&nbsp; &copy; ShalGreetings.com &nbsp; &nbsp; Design based upon: Gotta Love HTML5 and CSS3.
	</section>
</body> 
</html>
