{% extends "base.html" %}

{% block title %}{{ application_name }} - {{ page.name|escape }} - Edit{% endblock %}
{% block body %}
  <script type="text/javascript" src="/static/javascript/tinymce/tiny_mce.js"></script>


  <script type="text/javascript">

  tinyMCE.init({
  mode: "textareas",
  theme : "advanced",
  content_css: "/static/css/base.css",
  auto_focus: "mce_editor_0",
  plugins : "safari,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,imagemanager,filemanager",

	// Theme options
  theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
	theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
	theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
	theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
	theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	theme_advanced_statusbar_location : "bottom",
	theme_advanced_resizing : true,

	// Example content CSS (should be your site CSS)
//	content_css : "css/example.css",

	// Drop lists for link/image/media/template dialogs
	//template_external_list_url : "js/template_list.js",
	//external_link_list_url : "js/link_list.js",
	//external_image_list_url : "js/image_list.js",
	//media_external_list_url : "js/media_list.js",
  });
  </script>


  <style type="text/css">

  #body {
    margin: 29px;
    margin-top: 19px;
  }

  #body .buttons {
    margin-top: 0.75em;
  }

  #body .buttons .item {
    margin-right: 0.5em;
  }

  </style>

  <form action="{{ page.edit_url|escape }}" method="post">
    <div><textarea rows="10" cols="50" id="content" style="width: 100%; height: 400px" name="content">{{ page.content|escape }}</textarea></div>
    <div class="buttons">
      <span class="item"><input style="font-weight: bold" type="submit" value="Save Changes"/></span>
      <span class="item"><input type="button" onclick="location.href='{{ page.view_url|escape }}'" value="Cancel"/></span>
    </div>
  </form>
  {% endblock %}
