{% extends "base.html" %}
{% block title %}{{ application_name }} - {{ page.name|escape }}{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1>Guest Book</h1>
    <h3>Please sign our guest book</h3>

    <form action="/guestbook/sign" method="post">
      <label for="author">Name</label>
      <div><textarea name="author" rows="1" cols="20"></textarea></div>
      <label for="content">Wishes</label>
      <div><textarea name="content" rows="10" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>
    <br>
    <a href="{{ url }}">{{ url_linktext }}</a>
    <hr>

    {% for greeting in greetings %}
      {% if greeting.name %}
      	{% if greeting.author %}
	<b>{{ greeting.name }} ({{ greeting.author}} )wrote:</b>
	{% else %}
	<b>{{ greeting.name }}</b>
	{% endif %}
      {% else %}
      <b>A friend wrote:</b>
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
      <br>
      <i> {{ greeting.date }} </i>
      <hr>
    {% endfor %}

{% endblock %}
